<div class="head-content">
    <h3>Daftar Format Output</h3>
    <div class="clear"></div>
</div>
<div class="sub-nav-content">
    <ul>
        <li><a href="{$config->site_url({'output/opoutputversions'})}">&lt;&lt; Kembali ke daftar</a></li>
        <li><a href="{$config->site_url({'output/opoutputversions/edit/'|cat:$detail.output_id|default:''})}">Edit Versi</a></li>
        <li><a href="{$config->site_url({'output/opoutputversions/rows/'|cat:$detail.output_id|default:''})}" class="active">Pengaturan Baris</a></li>
        {if !empty($jumlah_baris)}
        <li><a href="{$config->site_url({'output/opoutputversions/upload/'|cat:$detail.output_id|default:''})}">Upload File</a></li>
        <li><a href="{$config->site_url({'output/opoutputversions/manage/'|cat:$detail.output_id|default:''})}">Pengaturan Field</a></li>
        {/if}
    </ul>
    <div class="clear"></div>
</div>
<div class="table-info-box">
    <h3>Detail Format</h3>
    <table class="table-info" width="100%">
        <tr>
            <td width="25%">Versi Format Output<br /><em>Output Versions</em> </td>
            <td width="25%"><b>{$detail.output_version|default:''}</b></td>
            <td width="25%">Jenis File <br /><em>File Type</em> </td>
            <td width="25%"><b>{$detail.output_file_type|default:''}</b></td>
        </tr>
        <tr>
            <td>Jenis Format <br /><em>Format Type</em> </td>
            <td colspan="3"><b>{$detail.output_format_type|default:''}</b></td>
        </tr>
    </table>
</div>
<div class="clear"></div>
<div class="button-nav-content">
    <a href="{$config->site_url('output/opoutputversions/rows/'|cat:$detail.output_id|default:'')}" class="active">List Data</a>
    <a href="{$config->site_url('output/opoutputversions/rows_add/'|cat:$detail.output_id|default:'')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" /> Add New</a>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('output/opoutputversions/process_rows_delete')}" method="post">
    <input type="hidden" name="output_id" value="{$detail.output_id|default:''}" />
    <table class="table-view" width="100%">
        <tr>
            <th width="5%"></th>
            <th width="40%">Baris Ke</th>
            <th width="40%">Jumlah Kolom</th>
            <th width="15%"></th>
        </tr>
        {foreach from=$rs_list key=no item=result}
        <tr {if ($no % 2) <> 0}class="blink-row"{/if}>
            <td align="center"><input type="checkbox" name="rows[]" value="{$result.row_number|default:''}" /></td>
            <td align="center">{$result.row_number}</td>
            <td align="center">{$result.total_column}</td>
            <td align="center">
                <a href="{$config->site_url({'output/opoutputversions/rows_update/'|cat:$result.output_id|cat:'/'|cat:$result.row_number})}" class="button-edit">Edit</a>
            </td>
        </tr>
        {foreachelse}
        <tr>
            <td colspan="4">Data not found</td>
        </tr>
        {/foreach}
        <tr>
            <td colspan="4"><input type="submit" value="Delete" /></td>
        </tr>
    </table>
</form>
